section.landing {
    height: 100vh;
    display: grid;
    justify-content: flex-start;
    justify-items: center;
    align-content: space-around;
}

section .title {
    max-width: 60%;
    width: 100%;
    align-self: center;
    transform: translateY(-13rem);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  section .title span {
    display: inline-block;
    font-size: 8vw;
    color: rgb(137 116 90);
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    animation: byBottom 1s ease both;
    font-weight: 600;
    letter-spacing: 0.25vw;
  }
  section .title span:last-child {
    font-size: 1.4rem;
    animation: byBottom 1s 0.25s ease both;
  }
  section .title span a {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #6d071a;
    font-size: 1.5rem;
  }
  section .title span a::after {
    content: "";
    height: 2px;
    background-color: #f7ca18;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    animation: linkAfter 0.5s 1s ease both;
  }
  @-moz-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-webkit-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-o-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }

.arrow-down {
  text-decoration: none;
  border: 1px solid #e3d18a;
  border-radius: 6px;
  font-size: 18px;
  padding: 1rem;
  backdrop-filter: blur(11px);
  border-left: 0;
  border-right: 0;
  position: absolute;
  left: 48%;
  top: 81vh;
  cursor: pointer;
  transition: 1s ease;
}

.arrow-down:hover {
  background-color: #6d071a;
  transition: 1s ease;
}

div.home__social {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  right: -36px;
  font-size: 1.4rem;
  top: 201px;
  transform: translateY(10px);
  gap: 25px;
  transform: rotate(90deg);

}

div.home__social-links {
  transform: rotate(0deg); 
  display: flex;
  align-items: center;
  gap: 26px;
}

.fa-brands, .fab {
  font-weight: 400;
  transform: rotate(-90deg);
}

.fa-solid, .fas {
  font-weight: 900;
  transform: rotate(-90deg);
}

span.home__social-follow {
  color: white;
}
  
@media screen and (max-width: 600px) {
  div.home__social {
    right: 97px;
    font-size: 1.8rem;
    top: 81vh;
    transform: translateY(18px);
    margin-left: 10px;
  }

  .fa-brands, .fab {
    font-weight: 400;
    transform: rotate(1deg);
   
  }
  
  .fa-solid, .fas {
    font-weight: 900;
    transform: rotate(1deg);
    
  }

  .arrow-down {
    display: none;
  }
}
