
<section class="skills section" id="skills">
    <h2 data-heading="Mes" class="section__title">Aptitudes</h2>
    <div class="inner">
        <div class="skills__container"> 
            {% if aptitudes %}
                {% for aptitude in aptitudes %}
                    <div class="skill-box">
                        <div class="skill-title">
                            {% for aptitude in aptitude.images.all %}
                                <div class="img">
                                    <img src="{{ aptitude.image.url }}" alt="Aptitude image" class="skill-icon"/>
                                </div>
                            {% endfor %}
                          <h3>{{ aptitude.title }}</h3>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>Aucune aptitude inséré</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
