{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/background.css' %}" />
{% endblock %}

<div class="text">
    <h2>Portfolio</h2>
</div>
<svg>
   <filter id="fire">
    <feTurbulence id="turbulence" basefrequence="0.1 0.1" numOctaves="2" seed="3">
        <animate attributeName="baseFrequency" dur="15s" values="0.1 0.1;0.12 0.2" repeatCount="indefinite"></animate>
    </feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="25">
    </feDisplacementMap>
   </filter>
    
</svg>