
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
{% endblock %}

<footer class="footer" id="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Evan</h1>
                <span class="footer__subtitle" color:#fff>Etudient en developpement web</span>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="#services" class="footer__link">Divers</a>
                </li>
                <li>
                    <a href="#work" class="footer__link">Projets</a>
                </li>
                <li>
                    <a href="#about" class="footer__link">À Propos</a>
                </li>
                <li>
                    <a href="/mentions" class="footer__link">Mentions Légales</a>
                </li>
            </ul>
            <div class="footer__socials">
                <a href="mailto:mouganib@gmail.com" target="_blank" class="footer__social">
                    <i class="fa-solid fa-envelope"></i>
                </a>
                <a href="https://github.com/Ev-i-an" target="_blank" class="footer__social">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/evan-m-721248300/" target="_blank" class="footer__social" aria-label="lien vers mon linkedin">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>