{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
{% endblock %}

<section class="landing">
    <div class="title"><span>Evan Mougani</span><span>Graphic Designer and<a target="_blanck" href="salfia.com">Web Developer</a></span></div>
    <!-- <div class="arrow-down">
        <button href="#work"></button>
    </div> -->
    <a class="arrow-down" href="#work">Mes Projets</a>
    <!-- <button class="arrow-down">Submit</button> -->
    <div class="home__social">
      <span class="home__social-follow">Me Contacter</span>
      <div class="home__social-links">
          <a href="mailto:mouganib@gmail.com" target="_blank" class="home__social-link" aria-label="lien vers discord">
            <i class="fa-solid fa-envelope"></i>
          </a>
          <a href="https://github.com/Ev-i-an" target="_blank" class="home__social-link" aria-label="lien vers mon github">
              <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/evan-m-721248300/" target="_blank" class="home__social-link" aria-label="lien vers mon linkedin">
              <i class="fa-brands fa-linkedin"></i>
          </a>
      </div>
  </div>
</section>