{% extends 'base.html' %}

{% load static %}

{% block title %}
  Mentions Légales
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/mentions.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/background.css' %}">
{% endblock %}

{% block content %}
<section class="legal__section">
    <p>
        <h1>MENTIONS LÉGALES</h1>

Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site evanmougani l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.

Edition du site 

Le présent site, accessible à l’URL www.evanmougani.fr (le « Site »), est édité par :

Evan Mougani, résidant 75014 PARIS, de nationalité Française (France), né(e) le 16/06/2000, 


Hébergement

Le Site est hébergé par la société 1&1 / IONOS, situé 7 Place de la Gare - 57200 Sarreguemines, (contact téléphonique ou email : (+33) 9 70 80 89 11).

Directeur de publication 

Le Directeur de la publication du Site est Evan Mougani.

Nous contacter 

Par téléphone : +33766391965
Par email : mouganib@gmail.com
Par courrier : 75014 PARIS

    </p>
</section>
{% endblock %}